/*
Theme Blue: #135187
Light Blue: #E4F1FD
Medium Blue: #2F7DC0

Orange: #FBB040
 */

/* ----------------------------------------------- */
/* Basic setup */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Montserrat','思源黑体',sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
.row {
  max-width: 1140px;
  margin: 0 auto;
}
/* ----- HEADINGS ----- */
h1 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 16px;
  color: #ffffff;
  font-size:250%;
  word-spacing: 8px;
  letter-spacing: 1px;

}
h3{
  line-height: 90%;
}


h4 {
  font-weight: 500;
  margin-bottom: 0;
  color: #ffffff;
  font-style: 50%;
  word-spacing: 4px;

}

/* ----- PARAGRAPHS ----- */
.box p{
  font-size: 75%;
  line-height: 150%;
  font-weight: lighter;
  color:#555555;
}

/* ----------------------------------------------- */
/* Header Title */
/* ----------------------------------------------- */

.title-banner{
  background-color: #135187;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo{
  display: inline-block;
  height:50px;
  width:auto;
  margin-right:10px;
}
.class-detail{
  font-style: italic;
}
.class-detail span{
  color: #FBB040;
}

/* ----------------------------------------------- */
/* Content Left Column */
/* ----------------------------------------------- */

.class-more-detail{
  padding: 10px 20px 10px 20px;
  background-color: #E4F1FD;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-left: 10px;

}

.class-more-detail h3{
  margin-top: 8px;
  margin-bottom: 8px;
  color: #135187;
}

.class-more-detail h4{
  padding-top: 4px;
  padding-bottom: 4px;
  color: #555555;
  font-weight: 500;
  font-size: 80%;
}
.class-more-detail h4 b{
  color: #FBB040;
}
.teacher{
  margin-right: 10px;
  float: left;
  height: 140px;
  width: auto;
  border-radius: 15px;
  border: 4px solid #135187;
  margin-bottom: 16px;
}

.weather{
  padding: 10px 20px 10px 20px;
  background-color: #E4F1FD;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-left: 10px;
}

.weather h4{
  padding-top: 4px;
  padding-bottom: 4px;
  color: #555555;
  font-weight: 500;
  font-size: 80%;
}

.weather h3{
  margin-top: 8px;
  margin-bottom: 8px;
  color: #135187;
}
.weatherwidget-io{
  border-radius: 4px;
}

.time-display{
  text-align: center;
  margin-bottom: 8px;
}
.time-display h3{
  text-align: center;
}

.face-detection{
  margin-top: 32px;
  padding-left: 10px;
}

#c,#v{
  border-radius: 10px;
  border: 4px solid #135187;
  width: 840px;
  height: auto;
  display: inline-block;
}

#datetime{
  width: auto;
}

.attendance-situation{
  padding: 10px 20px 10px 20px;
  background-color: #E4F1FD;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
